fastapi>=0.85.0
uvicorn[standard]>=0.18.0
PyYAML>=6.0
requests
pydantic>=2.4.2
peewee>=3.17.0
playhouse>=0.1.0
pgvector
apscheduler
psycopg2-binary
redis>=4.6.0
hiredis>=2.0.0
openai>=1.0.0
langgraph
langchain-mcp-adapters
langchain-openai
aiohttp
peewee-async[postgresql]
arize-phoenix 
openinference-instrumentation-langchain